.font-link {
  font-family: "Fuggles", cursive;
  font-family: "Golos Text", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Satisfy", cursive;
}
